@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';

.main-container {
	margin-top: 50px;
	padding-top: 20px;
}

.practice-heading {
  overflow: auto;
}

.practice-footer i {
	vertical-align: middle;
}

.social-share { 
	font-size: 20px;
}

dc-tabs,
dc-tab-list,
dc-tab-panel {
  display: block;
}

dc-tab-list {
  border-bottom: 1px solid #aaa;
}

dc-tab {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  margin-bottom: -1px;
  position: relative;
}

dc-tab[selected] {
  border-color: #aaa;
  border-bottom-color: #fff;
}

dc-tab:focus {
  box-shadow: 0 10px 0 0 #fff,
              0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  border-bottom-color: #fff;
  outline: none;
}

dc-tab:focus:before,
dc-tab:focus:after {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 5px;
  height: 5px;
  background: #fff;
}

dc-tab:focus:before {
  left: -4px;
}

dc-tab:focus:after {
  right: -4px;
}

dc-tab-panel.active {
  display: block;
}

ul.practice-techniques {
  list-style: none;
  padding: 10px;

  li.practice-technique {
    background: white;
    padding: 0;
    width: 110px;
    height: 110px;
    display: inline-block;
    position: relative;
    img {
      position:absolute;
      margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }
  }
}

#current-step {
  background: white;
  width: 400px;
  height: 500px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  img {
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

#next-step {
  background: white;
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  img {
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
}

#controls {
  text-align: center;
  div {
    display: inline;
  }
}