@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';

.main-container {
	margin-top: 50px;
}

.sidebar {
	margin-top: 20px;
}

.practice-footer i {
	vertical-align: middle;
}

.social-share { 
	font-size: 20px;
}

